#root {
  background: url("~/src/assets/BG_net.jpg");
  color: var(--black);
  font-family: "Lexend", sans-serif;
  display: grid;
  place-items: center;
  height: var(--doc-height);
}

header, main {
  padding: var(--page-margin-y) var(--page-margin-x);
}

main {
  h1 {
    font-size: 4rem;
  }
}

main {
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--page-margin-y);
}